<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartMaintaincePortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.project.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDep</display-name>
    <servlet-name>AddDep</servlet-name>
    <servlet-class>com.project.AddDep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDep</servlet-name>
    <url-pattern>/AddDep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Road</display-name>
    <servlet-name>Road</servlet-name>
    <servlet-class>com.project.Road</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Road</servlet-name>
    <url-pattern>/Road</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dep</display-name>
    <servlet-name>dep</servlet-name>
    <servlet-class>com.project.dep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dep</servlet-name>
    <url-pattern>/dep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentLogin</display-name>
    <servlet-name>DepartmentLogin</servlet-name>
    <servlet-class>com.project.DepartmentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentLogin</servlet-name>
    <url-pattern>/DepartmentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.project.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.project.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usercomplaint</display-name>
    <servlet-name>usercomplaint</servlet-name>
    <servlet-class>com.project.usercomplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercomplaint</servlet-name>
    <url-pattern>/usercomplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentown</display-name>
    <servlet-name>commentown</servlet-name>
    <servlet-class>com.project.commentown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentown</servlet-name>
    <url-pattern>/commentown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>action</display-name>
    <servlet-name>action</servlet-name>
    <servlet-class>com.project.action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stats</display-name>
    <servlet-name>stats</servlet-name>
    <servlet-class>com.project.stats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stats</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>help</display-name>
    <servlet-name>help</servlet-name>
    <servlet-class>com.project.help</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>help</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentown2</display-name>
    <servlet-name>commentown2</servlet-name>
    <servlet-class>com.project.commentown2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentown2</servlet-name>
    <url-pattern>/commentown2</url-pattern>
  </servlet-mapping>
</web-app>